<h2>Hi, <%= current_user.name %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= devise_error_messages! %>

  <div class="field-group">
    You are registered with DOE email address <%= current_user.email %>
  </div>

  <div class="field-group">
    <%= f.label 'Preferred email address for reservation notifications:' %>
    <%= f.email_field :alt_email, :value => current_user.contact_email, :autofocus => true %>
  </div>

  <div class="field-group">
    <%= f.label 'Your school:' %>
    <%= f.select :school_id, School.all.map { |s| [s.name, s.id] }  %>
    <%# f.autocomplete_field :school, autocomplete_school_name_path %>
  </div>

  <%= f.hidden_field :current_password, :value => User.default_password.to_s %>
  

  <div class="actions">
    <%= f.submit "Update Email", :class=> "button" %>
  </div>

<% end %>
