<html lang="en">

<noscript>
   <p id='no-js-message'>This form requires JavaScript. Your browser may not have JavaScript or it may be disabled.
    Please try again with a JavaScript-enabled browser or email help@mylibrarynyc.org for assistance.
   </p>

   <style>

   form {
   display:none;
   }

   h1 {
    visibility: hidden;
   }

   </style>

</noscript>

<h1>Sign Up</h1>
<script>
  <%= render :partial => 'sign_up_async_request.js.erb', :locals => {} %>
</script>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),  validate: true) do |f| %>

  <%= custom_devise_error_messages(local_assigns[:error_msg_hash]) %>
  <div class="field-group">
    <%= label_tag :email, "Your DOE email address", :id => 'userEmail-label' %>
    <%= f.email_field :email, :autofocus => true, "aria-labelledby" => 'userEmail-label user_email_error', :onkeyup => "newsLetterCheckbox();"  %>
    <div id='check_email_div'>
      <span class ='spinner'></span>
      <span id='check_email_span'>
        Validate e-mail.
      </span>
    </div>
    <span>
      Email address must end with @schools.nyc.gov or a participating school domain.
    </span>
  </div>
  <div class="field-group">
    <%= label_tag :user_alt_email, "Alternate email address (optional)", :id => 'userAltEmail-label' %>
    <%= f.email_field :alt_email, "aria-labelledby" => 'userAltEmail-label user_alt_email_error', :onkeyup => "newsLetterCheckbox();" %>
  </div>
  <div class="field-group">
    <%= label_tag :user_first_name, "First name", :id => 'userFirstName-label' %>
    <%= f.text_field :first_name, "aria-labelledby" => 'userFirstName-label user_first_name_error' %>
  </div>
  <div class="field-group">
    <%= label_tag :user_last_name, "Last name", :id => 'userLastName-label' %>
    <%= f.text_field :last_name, "aria-labelledby" => 'userLastName-label user_last_name_error' %>
  </div>

  <div class="field-group">
    <%= label_tag :user_school_id, 'Your school', :id => 'userSchool-label' %>
    <%= f.select :school_id, School.active_schools_data, "aria-labelledby" => 'userSchool-label user_school_error', :include_blank => '-- Select A School -- ' %>
  </div>

  <div class="field-group">
    <%= label_tag :user_pin, "PIN/PASSWORD", :id => 'userPin-label' %>
    <%= f.text_field :pin, "aria-labelledby" => 'userPin-label user_pin_error', :autocomplete => :off %>
    <ul>
      <li>
        Your password must be between 4-32 characters long. It can include a mix of uppercase and lowercase letters, numbers and symbols.
      </li>
      <li class="pin_password">
        It cannot contain common patterns such as consecutively repeating a character three or more times, e.g. aaaatf54 or repeating a pattern, e.g. abcabcab.
      </li>
    </ul>
  </div>
  <% if MlnConfigurationController.new.feature_flag_config('news_letter.enabled') %>
    <div>
      <%= check_box_tag 'news_letter_email[]', '1', false, :id => "news_letter_email", :onclick=>"verifyNewsLetterEmailInSignUpPage(this.value, $('#user_email').val(), $('#user_alt_email').val())", :title => "MyLibraryNYC newsletter", :class => "nl_check_box" %>
      <span class="nl_check_box_text">Select if you would like to receive the MyLibraryNYC email newsletter (we will use your alternate email if supplied above)</span>
      <div id="news-letter-ajax-message" style="display: none;"></div>
    </div>
    <br/>
  <% end %>
  <div class="actions">
    <%= f.submit "Sign Up", :class=> "button", :id =>'sign_up_button' %>
  </div>
<% end %>

</html>

