<% content_for :head do %>  
<script>
$(function() {
  $("#home-gallery").swipeshow({
    autostart: true,    /* Set to `false` to keep it steady */
    interval: 6000,     /* Time between switching slides (ms) */
    mouse: true,        /* enable mouse dragging controls */
    keys: true,         /* enable left/right keyboard keys */
  
    onactivate: function(){},
    onpause: function(){},
  });
});
</script>  
<% end %>

<div id="home-gallery" class="swipeshow">
  <ul class="slides">
    <li class="slide">
      <div class="homepage-banner">
        <div class="overlay">&nbsp;</div>
        <%= image_tag "mylibrarynyc-logo-white-tagline.png", :alt => "MyLibraryNYC" %>
      </div>
    </li>
    <li id="step1" class="slide">
      <div class="slide-caption"><span class="step">1</span> Teachers: log in with your DOE email address.</div>
      <div class="slide-assets">
        <%= image_tag "tutorial/teacher.png", :class => "teacher" %>  
        <%= image_tag "tutorial/students1.png", :class => "students1" %>              
        <%= image_tag "tutorial/students2.png", :class => "students2" %>
        <div class="email-input">
          me@school<span><i>s</i><i>.</i><i>n</i><i>y</i><i>c</i><i>.</i><i>g</i><i>o</i><i>v</i></span>
        </div>
      </div>
    </li>
    <li id="step2" class="slide">
      <div class="slide-caption"><span class="step">2</span> Explore hundreds of classroom book sets created by librarians.</div>
      <div class="slide-assets">
        <%= image_tag "tutorial/books.png", :class => "books books1" %>
        <%= image_tag "tutorial/books.png", :class => "books books2" %>
        <%= image_tag "tutorial/books.png", :class => "books books3" %>
        <%= image_tag "tutorial/books.png", :class => "books books4" %>
        <%= image_tag "tutorial/books.png", :class => "books books5" %>
        <%= image_tag "tutorial/books.png", :class => "books books6" %>
        <%= image_tag "tutorial/students1.png", :class => "students1" %>
        <%= image_tag "tutorial/teacher.png", :class => "teacher" %>        
        <%= image_tag "tutorial/students2.png", :class => "students2" %>        
      </div>
    </li>
    <li id="step3" class="slide">
      <div class="slide-caption"><span class="step">3</span> Order with a click and we'll deliver the set to your school within 2 weeks <span class="nowrap">(we'll come pick it up later too)</span>.</div>
      <div class="slide-assets">
        <%= image_tag "tutorial/school.png", :class => "school" %>
        <%= image_tag "tutorial/truck.png", :class => "truck" %>
      </div>
    </li>
    <li id="step4" class="slide">
      <div class="homepage-banner">
        <div class="overlay">&nbsp;</div>
        <div class="button-overlay">
          <%= link_to "Show Me The Books!", app_url, :class => "button" %>
        </div>
      </div>
    </li>
  </ul>
  <div class='dots'></div>
</div>