<div class="intro-text">
  <div class="intro-text__firstline">
    MyLibraryNYC provides participating schools with:
  </div>

  <div class="grid__item lap-lg-and-up-one-third">
    <span class="intro-text__number">1</span>
    <span class="intro-text__line">
      <span class="intro-text__first">TEACHER SETS</span>
      <br>
      Over 10,000 sets specifically designed by librarians for educator use,
      featuring a wide range of subjects and materials in a variety of formats.
    </span>
  </div>

  <div class="grid__item lap-lg-and-up-one-third">
    <span class="intro-text__number">2</span>
    <span class="intro-text__line">
      <span class="intro-text__first">PROFESSIONAL DEVELOPMENT</span>
      <br>
      MyLibraryNYC educators can participate in workshops on a wide variety of subjects,
      aligned to New York State’s Learning Standards to encourage reading and learning.
    </span>
  </div>
  <div class="grid__item lap-lg-and-up-one-third">
    <span class="intro-text__number">3</span>
    <span class="intro-text__line">
      <span class="intro-text__first">EXCLUSIVE PROGRAMS</span>
      <br>
      From author talks to school programs, participating MyLibraryNYC schools can access a range of exciting programming.
    </span>
  </div>
</div>

<div class="home-features">
  <div class="grid__item feature--third teacher-sets--feature">
    <div class="wrapper--feature">
      <%= image_tag('teacher-sets.png', size: "81x100", :border => 0) %>
      <h1>Order Teacher Sets</h1>
      <p>Order Teacher Sets for Delivery to your School - Delivery to your School within 2 weeks for Available Sets</p>
      <div class="teacher-sets-btns">
        <a class="info-site-index-button feature-link" href="//<%= "#{ENV['MLN_INFO_SITE_HOSTNAME']}/app#/teacher_sets"%>">Teacher Sets Catalog</a>
      </div>
    </div>
  </div>

  <div class="grid__item feature--third">
    <div class="wrapper--feature">
      <%= image_tag('indiv-titles.png', size: "81x100", :border => 0) %>
      <h1>Programs and Events</h1>
      <p>Games, Workshops, Events</p>

      <div class="teacher-sets-btns">
        <a class="info-site-index-button feature-link" href="//<%= "#{ENV['MLN_INFO_SITE_HOSTNAME']}"%>/assets/2021_2022_MyLibraryNYC_Menu_of_Services_for_Educators.pdf">Menu of Services</a>
      </div></br>


      <div class="teacher-sets-btns">
        <a class="info-site-index-button feature-link" href="//<%= "#{ENV['MLN_INFO_SITE_HOSTNAME']}"%>/home/calendar_event/<%= "#{@mln_calendar_file_name}" %>">Calendar of Events</a>
      </div>
    </div>
  </div>

  <div class="grid__item feature--third">
    <div class="wrapper--feature">
      <%= image_tag('digital-resources.png', size: "81x100", :border => 0) %>
      <h1>Access Digital Resources</h1>
      <p>Explore electronic databases, ebooks, and more.</p>
      <div>
        <a href="//<%= "#{ENV['MLN_INFO_SITE_HOSTNAME']}"%>/help/access-digital-resources" class="info-site-index-button feature-link">Access Digital Resources</a>
      </div>
    </div>
  </div>

  <div class="grid__item feature--primary program--points">
    <div class='points--wrapper'>
      <div class="intro-text__firstline">
        MyLibraryNYC provides participating schools with:
      </div>

      <div class='intro--wrapper'>
        <span class="intro-text__number">1</span>
        <span class="grid--center intro-text__line">
          <span class="intro-text__first">ACCESS TO MILLIONS OF FREE RESOURCES</span>
          <br>
          Individual titles, Teacher Sets, educational databases
        </span>
      </div>

      <div class='intro--wrapper'>
        <span class="intro-text__number">2</span>
        <span class="grid--center intro-text__line">
          <span class="intro-text__first">ENHANCED LIBRARY PRIVILEGES</span>
          <br>
          No fines, extended borrowing, free book delivery and pick up for teachers
        </span>
      </div>

      <div class='intro--wrapper'>
        <span class="intro-text__number">3</span>
        <span class=" grid--center intro-text__line">
          <span class="intro-text__first">CURRICULUM SUPPORT</span>
          <br>
          Common Core, differentiated instruction, English language learners, independent reading
        </span>
      </div>
    </div>
  </div>
  <% if MlnConfigurationController.new.feature_flag_config('news_letter.enabled') %>
    <div> <%= render :partial => 'news_letter/news_letter_form' %> </div>
  <% end %>
</div>
