<table id="home-reservations" class="table">
  <thead>
    <tr>
      <th>Date Placed</th>
      <% unless local_assigns[:hide_title] %>
        <th>Title</th>
      <% end %>
      <th>Quantity</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @holds.each do |hold| %>
    <% if hold.teacher_set.present? %>
      <tr>
        <td class="date"><%= link_to (hold.created_at.strftime("%b %-d, %Y")), hold_path(hold.access_key), :title => "view order details" %></td>
        <% unless local_assigns[:hide_title] %>
          <td class="title"><%= link_to hold.teacher_set.title, hold.teacher_set, :title => "view teacher set details" %></td>
        <% end %>
        <td class="status holds_quantity"><%= hold.quantity %></td>
        <% sets_requested = (hold.quantity.to_i <= 1)? "Set Requested" : "Sets Requested" %>
        <td class="sets_requested"><%= hold.quantity %> <%= sets_requested %></td>
        <td class="status"><%= hold.status_label %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
