<p>
  Hi there!
</p>
<p>
  This is an automated email confirming that you have successfully requested an order for
  <%= link_to @teacher_set.title, teacher_set_url(@teacher_set) %>. A member of MyLibraryNYC staff will be processing your order
  and sending you a follow-up email shortly.
</p>

<p>
  For your records, your order ID is <strong><%= @hold.access_key %></strong>. You can view the details of your order here:<br />
  <%= link_to "#{hold_url(@hold.access_key)}", hold_url(@hold.access_key) %> 
</p>

<p>
  If you would like to cancel your order, you can request a cancellation by clicking the link below<br />
  <%= link_to "#{holds_cancel_url(@hold.access_key)}", holds_cancel_url(@hold.access_key) %> 
</p>

<p>
  Thank You,<br />
  MyLibraryNYC<br />
  <%= link_to "#{root_url}", root_url %> 
</p>
