<p>Bib Number: <%= @bnumber %></p>
<p>Bib Number: <%= @bnumber %></p>
<p>Title: <%= @title %></p>
<p>Physical Description: <%= @physical_description %></p>
<p>Description: <%= @description %></p>
<p>Request Body: <%= @request_body %></p>
