<% content_for :head do %>  
<script>
// Exacttarget: Track page
_et.track("Sign In Page", "<data amt=\"1\" unit=\"Views\" accumulate=\"true\" />");
</script> 
<% end %>

<h1>Get Started</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="field-group">
    <%= f.label :email, :method do %>
      Your DOE Email Address <%= link_to '<i class="fa fa-question-circle"></i>'.html_safe, "#doe-email-help", :class => "collapsible-link" %>
    <% end %>
    <div id="doe-email-help" class="help-block collapsible">
      <small>
        Your DOE email address will look like jsmith@schools.nyc.gov, consisting of your first initial plus your last name. It may also contain a numeral after your name (jsmith2@schools.nyc.gov, jsmith3@schools.nyc.gov, etc.). Even if you do not check your DOE email regularly, please use it to sign in. You can provide an alternate email address later for delivery notifications and other communications.
      </small>
    </div>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <%= f.hidden_field :password, :value => User.default_password.to_s %>

  <% if devise_mapping.rememberable? -%>
    <div class="field-group">
      <!-- <label for="user_remember_me">
      <%= f.check_box :remember_me %> Remember Me?
      </label> -->
      <%= f.hidden_field :remember_me, :value => true %>
    </div>
  <% end -%>
  
  <div class="actions">
    <%= f.submit "Sign In", :class=> "button" %>
  </div>
<% end %>

<div>
  <p>
    Not registered? Please <%= link_to "sign up", "/users/signup" %>.
  </p>
</div>

<%= 
  # render "devise/shared/links" 
%>
