<span id="make-available-teacher-set-<%= teacher_set.id %>-container"
     style="<%= teacher_set.availability == 'unavailable' ? '' : 'display:none;' %> <%= (action == 'index' ? 'margin-left:20px;' : '') %>">
  <a href="<%= make_available_admin_teacher_set_path(teacher_set) %>" data-method="put" data-remote="true">
    <%= image_tag('unchecked.png', height: 20, width: 20, alt: '') %>
    <%= (action == 'show' ? "<span style='position:relative; top:-5px; right:-3px'>Unavailable</span>" : '').html_safe %>
  </a>
</span>
<span id="make-unavailable-teacher-set-<%= teacher_set.id %>-container"
     style="<%= teacher_set.availability == 'available' ? '' : 'display:none;' %> <%= (action == 'index' ? 'margin-left:20px;' : '') %>">
  <a href="<%= make_unavailable_admin_teacher_set_path(teacher_set) %>" data-method="put" data-remote="true">
    <%= image_tag('checked.png', height: 20, width: 20, alt: '') %>
    <%= (action == 'show' ? "<span style='position:relative; top:-5px; right:-3px'>Available</span>" : '').html_safe %>
  </a>
</span>
