<% if @es_resp.present? && @es_resp[:hits].present? %>
<div>
  <span class="bold">Total Matches Count: <%= @es_resp[:totalMatches] %></span>
  <br><br>
  <% @es_resp[:hits].each do |ts_data| %>
    <span class="bold">Title: </span>  <%= ts_data['_source']['title'] %><br>
    <span class="bold">Description: </span>  <%= ts_data['_source']['description'] %><br>
    <span class="bold">Contents: </span> <%= ts_data['_source']['contents'] %><br><br>
  <% end  if @es_resp[:hits].present? %>
</div>
<% else %>
 <span class="bold">No results found</span><br><br>
 <% if @suggested_result.present? %>
	 <div id="did_you_mean_id">
	 	Did you mean <span class='italic'><%= link_to("#{@suggested_result}", "/search/es?search_keyword=#{@suggested_result}&search=#{params['search']}", method: :post, remote: true)%></span>?
	 </div>
<% end %>
<% end %>
<script type="text/javascript">
	<% if @suggested_result == 'No Suggestion' %>
		$("#did_you_mean_id").hide();
	<% end %>
</script>