<div id="search_query">
  <%= form_tag("/search/es", remote: true) do %>
    <table>
      <tr>
        <td>
          <span>
            <%= text_field_tag 'search_keyword', '', :spellcheck => "true" , :placeholder => 'Search Keyword', :class => 'search-box', :type => "search" %>
            </span>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <%= radio_button_tag 'search', 'partial', true, 
          onclick: "showFuzzySelection()" %>
          Partial search
          &nbsp;&nbsp;<%= radio_button_tag 'search', 'fuzzy', false, 
          onclick: "showFuzzySelection('fuzzy')" %>
          Fuzzy search &nbsp;&nbsp;
          <span id="fuzzy_id" style="display: none">
            <%= select_tag 'fuzzyness', options_for_select(@fuzzy_count_arr), 
            :class => "quantity-select-button" %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <%= submit_tag 'Submit Query', data: { disable_with: "Please wait.." }, 
          class: 'es-search-button' %>
        </td>
      </tr>
      
    </table>
  <% end %>
</div>
<br>
<div id="search_results"></div>