<% flash.each_with_index do |(name, msg), i| %>
 <% if name == :registration_error %>
  <div id="alert-<%=i%>" data-alert class="alert main-alert fade-in-out-longer <%= name %>">
 <% else %>
  <div id="alert-<%=i%>" data-alert class="alert main-alert fade-in-out <%= name %>">
    <% end %>
       <%= msg %>
  </div>
<% end %>
