<nav class="navigation" role="navigation">
  <div class="container">
    <div class="site-logo" role="banner" class="nav-hover-color">
        <%= link_to image_tag("mylibrarynyc-logo-white-mini.png", border: 0), "//#{ENV['MLN_INFO_SITE_HOSTNAME']}:3000" %>
      </div>
    <ul class="nav nav--global__list float-right">
      <% if user_signed_in? %>
        <li class="nav-hover-color"><%= link_to "Account", account_url %></li>
      <% elsif user_signed_in? == false && params["host"] == ENV['MLN_INFO_SITE_HOSTNAME'] && params["controller"] == "info_site" %>
        <li class="nav-hover-color"><%= link_to "Account", "//#{ENV['MLN_SETS_SITE_HOSTNAME']}:3000/users/start" %></li>
      <% else %>
        <li class="nav-hover-color"><%= link_to "Sign In".html_safe, new_user_session_path %></li>
      <% end %>
      <li class="nav-hover-color"><%= link_to "Search Teacher Sets", "//#{ENV['MLN_SETS_SITE_HOSTNAME']}:3000/app#/teacher_sets"  %></li>
      <li class="nav-hover-color"><%= link_to "Help", "//#{ENV['MLN_INFO_SITE_HOSTNAME']}:3000/help" %></li>
      <li class="nav-hover-color"><%= link_to "FAQs", "//#{ENV['MLN_INFO_SITE_HOSTNAME']}:3000/faq" %></li>
      <li class="nav-hover-color"><%= link_to "Participating Schools", "//#{ENV['MLN_SETS_SITE_HOSTNAME']}:3000/schools" %></li>
    </ul>
  </div>
</nav>

<div id="timeout-warning">
  Your session is about to expire.
  <span id="extend-session-link" onClick="extendSession();">Extend my session</span>.
  <iframe id="extend-session-iframe" src="/extend_session_iframe" width="100" height="100" style="display:none;">
    <!-- We reload this iframe when a user needs to extend a session. That resets -->
  </iframe>
  <script>
    function extendSession() {
      document.getElementById('extend-session-iframe').contentDocument.location.reload(true);
      $('#timeout-warning').hide();
    }
  </script>
</div>

<script type="text/javascript">
  // Production TRACKING CODE 
  // Global site tag (ga.js) - Google Analytics 
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1420324-121', {'allowAnchor': true});
  ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash});
</script>

<style type="text/css">
  .nav-panel {
    padding-top: 15px;
    padding-right: 90px;
  }
  li {
  display: inline-block;
}

</style>