<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <nav class="navigation" role="navigation">
      <div class="container" >
        <%= link_to "<span>Home</span>".html_safe, root_url, :class=>"link-home", "aria-label" => "Home-Logo" %>
      </div>
    </nav>
    <div style="border: black">
    	some test data
    </div>
    <%= render "layouts/footer" %>
  </body>
</html> 
