<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyLibraryNYC<%= content_for?(:title) ? " | #{yield(:title)}" : "" %></title>
  <meta name="description" content="MyLibraryNYC is an innovative new pilot program for school and public libraries in New York City. It encourages student reading by expanding student and teacher access to public library books and removing common barriers to borrowing them.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="mAHyiTqiyVJ_7ZySPu4ohaiJsgnlGlHmP6Tfyd6fGQI" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<!-- QA TRACKING CODE -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140633607-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140633607-1');
</script>

<body>
  <%= render "layouts/navigation" %>
  <%= render "layouts/messaging" %>
  <div id="main" class="container <%= controller.controller_name %>-<%= controller.action_name %>">dddddddd
    <%= render "layouts/breadcrumb" unless controller.controller_name == "home" && controller.action_name == "index" %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  <%= render "layouts/timeout" if current_user %>
</body>
</html>
